<div class="container">
  <ng-template  #errorTemplate>
    <div class="text-danger">{{errorMessage}}</div>
  </ng-template>
  <div class="card">
    <div class="card-header">Products List</div>
    <div class="card-body">
      <table class="table" *ngIf="products; else errorTemplate">
        <thead>
        <tr>
          <th>Id</th> <th>Name</th> <th>Price</th><th>Promotion</th><th></th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products">
          <td>{{p.id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td>{{p.promotion}}</td>
          <td>
            <button class="btn btn-info">
              <i class="bi bi-pen"></i>
            </button>
          </td>
          <td>
            <button (click)="deleteProduct(p)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
